.auth-container {
  background-color: var(--bg-offgrey);
  border-radius: 10px;
  max-width: 30rem;
  margin: 5rem auto;
  padding: 1rem;
}

.user-details {
  padding: 1rem;
}
.user-details > * {
  margin: 0.5rem;
}
.login-preference {
  margin-left: auto;
}
.user-details a:hover {
  text-decoration: underline;
}
.input-area {
  height: 2rem;
}
