/* product filter  */
.product-aside {
  width: 15rem;
  height: 100%;
  overflow-y: hidden;
  padding: 1rem;
  float: left;
  border-right: 1px solid var(--brand-secondary);
}
.product-aside > * {
  margin: 1rem 0rem;
}
.filter-list {
  border-top: 1px solid var(--brand-secondary);
}
.filter-list > * {
  margin-top: 8px;
}
.btn-clear:hover {
  color: var(--brand-primary);
}
@media only screen and (max-width: 45em) {
  .product-aside {
    display: none;
    /* for now displaying none will use hamburger menu later on  */
  }
}
