.product {
  padding: 1rem 0rem;
}
.all-products-container {
  margin: 1.5rem;
  flex-wrap: wrap;
  gap: 2.5rem;
}

@media screen and (max-width: 32em) {
  .product {
    padding: 0rem;
  }
  .product-list {
    gap: 0rem;
  }
  .product-list > * {
    margin: 10px 0px;
  }
  .product-heading {
    font-size: 1.3rem;
  }
}
