.nav-container {
  color: var(--text-primary);
  background-color: var(--solid-white);
  height: 4rem;
  border-bottom: 2px solid var(--bg-offgrey);
}
.logo-container {
  align-items: center;
}
.logo {
  width: 3.5rem;
}
.btn-cta {
  border-radius: 5px;
  border: none;
  padding: 4px 8px;
  margin: 0 1rem;
}
.nav-container > * {
  margin: 0 1.5rem;
}

.nav-container input {
  width: 30%;
  background-color: var(--bg-offgrey);
}

.nav-container li:not(:first-child) {
  margin-left: 1.5rem;
}
.navitem-container {
  align-items: center;
}
.logout-btn {
  padding: 4px 8px;
  border-radius: 5px;
}

@media screen and (max-width: 32em) {
  .logo {
    width: 3rem;
  }
  .nav-container > * {
    margin: 0.5rem;
  }
  .btn-cta {
    margin: 0 5px;
  }
}
