.nav-container {
  color: var(--text-primary);
  background-color: var(--solid-white);
  width: 100%;
  height: 4rem;
  border-bottom: 2px solid var(--bg-offgrey);
}
.btn-cta {
  margin-left: 1rem;
  border-radius: 5%;
  border: none;
  padding: 4px 8px;
}
.nav-container > * {
  margin: 0 auto;
}

.nav-container input {
  width: 30%;
  background-color: var(--bg-offgrey);
}
.nav-container li:not(:first-child) {
  margin-left: 1.5rem;
}
.navitem-container {
  align-items: center;
}
.logout-btn {
  padding: 4px 8px;
}
