.cart-container {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80rem;
}
.cart-heading {
  margin: 1.5rem 0rem;
}
.cart-products {
  margin-left: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

@media only screen and (max-width: 56em) {
  .cart-products {
    justify-content: center;
  }
  .cart-container {
    flex-wrap: wrap;
  }
  .cartprice-conatiner {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 32em) {
  .price-container {
    width: 18rem;
  }
  .cart-btn {
    width: 10rem;
  }
}
